<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to Refinery::Core.site_name, refinery.root_path, :class => 'brand' %>
      <nav id='<%= dom_id %>' class='<%= css %> nav'>
        <ul class="nav">
          <%= render :partial => '/refinery/menu_branch', :collection => roots,
                     :locals => {
                       :hide_children => hide_children,
                       :sibling_count => (roots.length - 1),
                       :menu_levels => local_assigns[:menu_levels],
                       :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
                     } -%>
        </ul>
        </nav>
    </div>
    </div>
</div>
        
<div class="jumbotron masthead">
  <div class="container">
    <h1>Keith Mascarenhas</h1>
    <p>
      Developer, Arsenal FC Fanatic, Gaming Enthusiast
    </p>

    <ul class="masthead-links">
      <li><a href="#" target="_blank"><i class="icon-file-alt"></i> Résumé </a></li>
      <li><a href="https://github.com/keithxm23" target="_blank"><i class="icon-github-alt"></i> Fork me </a></li>
      <li><a href="https://twitter.com/keithxm23" target="_blank"><i class="icon-twitter"></i> Follow me</a></li>
      <li><a href="http://www.linkedin.com/in/keithxm23" target="_blank"><i class="icon-linkedin"></i> Connect</a></li>
      <li><a href="http://stackoverflow.com/users/1415352/keithxm23" target="_blank"><i class="icon-stackexchange"></i> SO</a></li>     
      <li><a href="http://www.pinterest.com/keithxm23/" target="_blank"><i class="icon-pinterest"></i> Pin me</a></li>
      <li><a href="http://open.spotify.com/user/keithxm23" target="_blank"><i class="icon-music"></i> Spotify</a></li>
      <li><a href="http://steamcommunity.com/id/keithxm23/" target="_blank"><i class="icon-gamepad"></i> Steam</a></li>
      <li><a href="http://keithxm23.blogspot.com/" target="_blank"><i class="icon-pencil"></i> Blog</a></li>
      <li><a href="mailto:keithxm23@gmail.com" target="_blank"><i class="icon-envelope-alt"></i> Email</a></li>
    </ul>
  </div>
</div>

<% end -%>
